
.navbar-container{
    height: 100px;
    width: 100%;
    float: left;
}

.logo {
    width: 25%;
    border: none;
    background-color: #ffffff00;
    padding: none;
}

.logo{
    float: left;
    text-align: center;
}

.logo:hover {
    background-color: #ffffff00;
    cursor: pointer;
}




/* WAVE DIVIDER */
.custom-shape-divider-top-1651787140 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1651787140 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 59px;
}

.custom-shape-divider-top-1651787140 .shape-fill {
    fill: #D594E0;
}